body, html {
    margin: 0;
    height:100%;
}
.title {
    font-size: 7rem;
    color: white important!;
    text-shadow: 0 0 5px #333;
    opacity: 150%;
    text-align: center;
}
.wrapper {
    position: relative;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 15px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}
.background,.foreground {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  
}
.background {
    transform: translateZ(5px) scale(0.66);
    opacity: 80%;
}
.foreground {
    transform: translateZ(10px) scale(0.25);
}   

